@import "../../public/css/src/fonts.css";
@import "../../public/css/src/style.css";
@import "../../public/css/src/header.css";
@import "../../public/css/src/animations.css";
@import "../../public/css/src/footer.css";
@import "./src/r-header.css";
@import "./src/r-menus.css";


/* Animation menus*/ 
.anim1 {
    animation: anim1 2s;
    animation-delay: 0s;

}

@keyframes anim1 {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}



.anim2 {
    animation: anim1 2s;
    animation-delay: 0.2s;
    animation-fill-mode: both;

}

@keyframes anim2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.anim3 {
    animation: anim1 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}

@keyframes anim3 {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.anim4 {
    animation: anim1 2s;
    animation-delay: 0.7s;
    animation-fill-mode: both;

}

@keyframes anim4 {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}