
.fonctbloc {
    padding: 20px 20px;
}
    .fonctcontent {
        max-width: 1380px;
        margin: auto;
        position: relative;
    }

.fonctcard{
    justify-content: space-between;
}
    .fonctnum {
        list-style: none;
        background-color: rgb(247, 247, 247);
        padding: 25px;
        border-radius: 20px;
        display: inline-block;
        position: relative;
        flex-basis: 30%;
        margin: 0 10px;
        box-shadow: 0px 3x 7px 0px rgba(0, 0, 0, 0.178);
        -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.178);
        -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.158);
    }
    .numcircle {
        background: #9356DC;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -11px;
        text-align: center;
        border-radius: 25px;
        color: white;
        padding: 3px;
        font-size: 16px;
        
    }
    .fonctnum i {
        margin:0 15px 0 5px;

    }

#fonctnum3 {
    background: #9256dc11;
}

#iconstore {
    color: #9356DC;
}
@media screen and (max-width : 768px) 
{
}




@media screen and (max-width : 998px) 
{
    .fonctcard {
    flex-direction: column;
    }
    .fonctnum {
        margin: 10px ;
    }
}
