/* for title and logo */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* for other text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.titlefonts {
    font-family: 'Shrikhand', sans-serif;
    font-size: 40px;
    font-weight: lighter;
}

.subtitilefonts {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.titlefontsfamily {
    font-family: 'Shrikhand', sans-serif;
}



* {
    font-size: 18px;
    font-family: 'Roboto';
}