/*-- for all screen--*/

/*-- logo and nav --*/
.bgheader {
    background: rgb(226, 226, 226);
    height: 150px;
}

.logobg {
background: rgb(255, 255, 255);
height: 100px;
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.507);
}

header a {
    color: black;
}

.logobg h1 {
    padding-top: 20px;
}

.navbg {
    padding: 5px;
}

.navcolor {
    color: rgb(51, 51, 51);
}

/*-- introbg --*/

.introbg {
    background: rgb(243, 243, 243);
}

.introtext {
    text-align: center;
    margin: 50px 40px;
    flex-direction: column;
}

.introtext h2 {
    font-size: 24px;
    font-weight: bold;
}

.introtext p {
    font-size: 20px;
    font-weight: 300;
}

/*-- button --*/
.explorebtn {
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(170deg, #FF79DA, #9356DC );
    color: white;
    border: none;
}

.explorebtn:hover {
    cursor: pointer;
    background: linear-gradient(170deg, #9356DC,#FF79DA );
}



@media screen and (max-width : 768px) 
{
}




@media screen and (max-width : 991px) 
{
}



@media screen and (min-width : 992px) 
{
}