/*-- for all screen--*/

/*-- logo and nav --*/
.bgheader {
    background: rgb(226, 226, 226);
    height: 150px;
}

.logobg {
background: rgb(255, 255, 255);
height: 100px;
box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.507);
}


.logobg h1 {
    padding-top: 20px;
}

.navbg {
    padding: 5px;
}


/*-- introbg --*/

.introtext {
    text-align: center;
    margin: 50px 40px;
    flex-direction: column;
}

.introtext h2 {
    font-weight: bold;
}

.introtext p {
    font-size: 20px;
    font-weight: 300;
}

/*-- button --*/
.explorebtn {
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(170deg, #FF79DA, #9356DC );
    border: none;
    box-shadow: 0px 3x 7px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.31);
    transition-duration: 1s;
    
}
.explorebtn:hover {
  
    background: linear-gradient(170deg, #fc80d9, #9860db  );
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 4x 7px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.5);
    


}



@media screen and (max-width : 768px) 
{
}




@media screen and (max-width : 991px) 
{
}



@media screen and (min-width : 992px) 
{
}