.restaurants {
    padding: 20px 20px;
}

.restaubg {
    justify-content: space-between;
    flex-wrap: wrap;
}

.restaucard{
    background: white;
    flex-basis: 48%;
    border-radius: 20px;
    position: relative;
    color: black;
    
}
    .restauimg{
        width: 100%;
        height: 250px;
        border-radius: 20px 20px 0px 0;
        object-fit: cover;
    }

    .restaunew {
        background-color: #99e2d0;
        color: #205f4f;
        padding: 6px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

.restaufooter {
    position: relative;
}

.restautext {
    flex-basis: 90%;
}
    .restausubt {
        font-size: 20px;
        font-weight: bold;
    }
    .restausubtext {
        font-weight: 300;
    }


.resticonpos {
    position: absolute;
    right: 20px;
    top: 30px;
}

.restauicon2 {
    opacity: 0.1;
    color: white;
}

.restauicon2:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    background: linear-gradient(170deg, #FF79DA, #9356DC );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width : 768px) 
{
    .restaucard {
        flex-basis: 100%;
    }

    .restauimg {
        height: 180px;
    }

}




@media screen and (max-width : 991px) 
{
}



@media screen and (min-width : 992px) 
{
}