* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.dflexcenter {
    display: flex;
    justify-content: center;
}

.dflex {
    display: flex;
}

.pad10 {
    padding: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.m20 {
    margin: 20px;
}
