* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.dflexcenter {
    display: flex;
    justify-content: center;
}

.dflex {
    display: flex;
}

.pad10 {
    padding: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mt20 {
    margin-top: 20px;
}

.m20 {
    margin: 20px;
}


.h2fonts {
    font-size: 28px;
    font-weight: bold;
}

.colortext {
    color: black;
}

.bgcolor {
    background: rgb(247, 247, 247);
}

.subcolor {
    color: rgb(110, 110, 110);
}